body{
    background-image: url("mountain pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hone{
    text-align: center;
    font-size: 50px;
    line-height: 5%;
    margin-top: 20%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.htwo{
    text-align: center;
    font-size: 10px;
}
ul{
    list-style-type: none;
    border-color: white;
}
ul li{
    float:right;
    width:100px;
    height: 20px;
    backface-visibility: hidden;
    opacity: .9;
    line-height: 40px;
    text-align: calc();
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    display: block;
    color:white;
}
ul li a:hover{
    color: chartreuse;

}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
.btn{
    position: fixed;
    left: 45%;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 40px;
    border-color: chartreuse;
    background-color: chartreuse;
    color: white;
}
.btn:hover{
    border-color: black;
    background-color: black;
}
.logo{ 
    font-size: 200%;
    margin-left: 5%;
}
